body {
  background-color: #f3f3f3;
} 

#travel-title, h1
{
  font-family: helvetica;
  text-align: center;
  font-size: 25px;
  background-color:#00CB9E;
  color: white;
  padding: 25px;
  margin: 8px;
}

.centered {
  text-align: center;
  font-family: helvetica;
  font-size: 14px;
}

  #place-title {
    font-family: helvetica;
    font-style: bold;
    text-align: center;
  }

.image {
 padding
}
