body, html {
  height: 100%;
  margin: 10px;
}

h1 {font-family: "Noto Sans";
    font-size: 25px;
    }

.container {
  display: flex;
  background: lightgray;
  border: 1px solid gray;
  justify-content: space-around;
}

#two-column .container {
  height: 200px;
  display: flex;
}