
@font-face {
	font-family: 'Montserrat', sans-serif;
	font-family: 'Lora', serif;
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}


.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
	font-family: 'Montserrat', sans-serif;
	color: #3C3D3D;
	background: #fff;
	font-weight: 300;
	overflow-x: hidden;
}

a {
	color: #6D6D6D;
	text-decoration: none;
}

a:hover,
a:active {
	color: #333;
}

/* Header Style */
.main,
.container > header {
	margin: 0 auto;
	padding: 2em;
}

.container > header {
	text-align: center;
	background: rgba(0,0,0,0.01);
}

.container > header h1 {
	font-size: 1.85rem;
	margin: 20px 0 0 0;
}

.tagline {
	font-family: 'Lora', serif;
	text-align: right;
	margin: 0;
	padding: 1.5rem 23px;
	font-size: 15px;
	line-height: 1em;
	color: #3C3D3D;
	letter-spacing: 2px;
}

.container > header span {
	display: block;
	font-size: 60%;
	color: #6D6D6D;
	padding: 0 0 0.6em 0.1em;
}

/* Main Content */
.main {
	max-width: 50em;
}

/* Oil Pages */

.oil-info {
	padding: 63px;
	margin: 0 auto;
}

h2 {
font-size: 55px;
color: #8D482A;
}

h3 {
	font-family: 'Lora', serif;
	font-style: italic;
}

.button {
	font-weight: bold;
	background: #FDDE5E;
	color: #fff;
	display: block;
	padding: 12px;
	border-radius: 5px;
}


@media screen and (max-width: 25em) {

}